@page
@model XOgame_x2.Pages.IndexModel

<!DOCTYPE html>
<html>
    <h1>Крестики-нолики</h1>

    <form method="post">
        <div>
            <label for="PlayerX">Игрок X:</label>
            <input type="text" id="PlayerX" name="PlayerX" required />
        </div>
        <div>
            <label for="PlayerO">Игрок O:</label>
            <input type="text" id="PlayerO" name="PlayerO" required />
        </div>
        <button type="submit">Го</button>
    </form>

</html>
